In [1]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv("../Raw/owid-energy-data.csv")
df.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN

In [13]:
df.shape

(5166, 130)

In [26]:
df.isna().sum()

country                      0
year                         0
iso_code                     0
population                   0
gdp                       1503
                          ...
wind_elec_per_capita       249
wind_electricity           249
wind_energy_per_capita    3233
wind_share_elec            271
wind_share_energy         3233
Length: 130, dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df.dropna(subset=['iso_code'],inplace=True)

In [12]:
df=df[df['year']>2000]

In [19]:
df[df['population'].isna()]['country'].value_counts()

country
Antarctica              23
Netherlands Antilles    14
Name: count, dtype: int64

In [25]:
df.dropna(subset=['population'],inplace=True)

In [24]:
df[df['gdp'].isna()][['country','year']]

              country  year
148       Afghanistan  2023
643           Albania  2023
767           Algeria  2023
768           Algeria  2024
790    American Samoa  2001
...               ...   ...
22852           Yemen  2024
23068          Zambia  2023
23069          Zambia  2024
23193        Zimbabwe  2023
23194        Zimbabwe  2024

[1540 rows x 2 columns]

In [27]:
DimCountry=df[['iso_code','country']].drop_duplicates().reset_index(drop=True)
DimCountry.set_index('iso_code',inplace=True)
DimCountry.head()

                 country
iso_code
AFG          Afghanistan
ALB              Albania
DZA              Algeria
ASM       American Samoa
AGO               Angola

In [28]:
DimCountry.shape

(219, 1)

In [29]:
DimYear=df['year'].drop_duplicates().reset_index(drop=True)
DimYear

0     2001
1     2002
2     2003
3     2004
4     2005
5     2006
6     2007
7     2008
8     2009
9     2010
10    2011
11    2012
12    2013
13    2014
14    2015
15    2016
16    2017
17    2018
18    2019
19    2020
20    2021
21    2022
22    2023
23    2024
Name: year, dtype: int64

In [30]:
columns=['iso_code','year','biofuel_consumption','biofuel_electricity','coal_consumption','coal_electricity','coal_production','fossil_fuel_consumption','fossil_electricity','gas_consumption','gas_electricity','gas_production','hydro_consumption','hydro_electricity','low_carbon_consumption','low_carbon_electricity','nuclear_consumption','nuclear_electricity','oil_consumption','oil_electricity','oil_production','other_renewable_consumption','other_renewable_electricity','renewables_consumption','renewables_electricity','solar_consumption','solar_electricity','wind_consumption','wind_electricity']
df1=df[columns]
df1.head()

,iso_code,year,biofuel_consumption,biofuel_electricity,coal_consumption,coal_electricity,coal_production,fossil_fuel_consumption,fossil_electricity,gas_consumption,...,oil_electricity,oil_production,other_renewable_consumption,other_renewable_electricity,renewables_consumption,renewables_electricity,solar_consumption,solar_electricity,wind_consumption,wind_electricity
126,AFG,2001,NaN,0.0,NaN,0.04,0.151,NaN,0.19,NaN,...,0.15,0.0,NaN,0.0,NaN,0.50,NaN,0.0,NaN,0.0
127,AFG,2002,NaN,0.0,NaN,0.04,0.122,NaN,0.15,NaN,...,0.11,0.0,NaN,0.0,NaN,0.56,NaN,0.0,NaN,0.0
128,AFG,2003,NaN,0.0,NaN,0.09,0.203,NaN,0.28,NaN,...,0.19,0.0,NaN,0.0,NaN,0.63,NaN,0.0,NaN,0.0
129,AFG,2004,NaN,0.0,NaN,0.06,0.197,NaN,0.23,NaN,...,0.17,0.0,NaN,0.0,NaN,0.56,NaN,0.0,NaN,0.0
130,AFG,2005,NaN,0.0,NaN,0.06,0.192,NaN,0.23,NaN,...,0.17,0.0,NaN,0.0,NaN,0.59,NaN,0.0,NaN,0.0

In [31]:
df1.shape

(5129, 29)

In [35]:
df1.isna().sum()

iso_code                       0
year                           0
biofuel_consumption            0
biofuel_electricity            0
coal_consumption               0
coal_electricity               0
coal_production                0
fossil_fuel_consumption        0
fossil_electricity             0
gas_consumption                0
gas_electricity                0
gas_production                 0
hydro_consumption              0
hydro_electricity              0
low_carbon_consumption         0
low_carbon_electricity         0
nuclear_consumption            0
nuclear_electricity            0
oil_consumption                0
oil_electricity                0
oil_production                 0
other_renewable_consumption    0
other_renewable_electricity    0
renewables_consumption         0
renewables_electricity         0
solar_consumption              0
solar_electricity              0
wind_consumption               0
wind_electricity               0
dtype: int64

In [34]:
df1.fillna(0,inplace=True)

C:\Users\ayman\AppData\Local\Temp\ipykernel_2824\211532557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.fillna(0,inplace=True)

In [36]:
melteddf1=df1.melt(id_vars=['iso_code','year'],var_name='EnergyVariable',value_name='Value')
melteddf1.head()

  iso_code  year       EnergyVariable  Value
0      AFG  2001  biofuel_consumption    0.0
1      AFG  2002  biofuel_consumption    0.0
2      AFG  2003  biofuel_consumption    0.0
3      AFG  2004  biofuel_consumption    0.0
4      AFG  2005  biofuel_consumption    0.0

In [37]:
melteddf1['EnergyVariable'].value_counts()

EnergyVariable
biofuel_consumption            5129
nuclear_consumption            5129
wind_consumption               5129
solar_electricity              5129
solar_consumption              5129
renewables_electricity         5129
renewables_consumption         5129
other_renewable_electricity    5129
other_renewable_consumption    5129
oil_production                 5129
oil_electricity                5129
oil_consumption                5129
nuclear_electricity            5129
low_carbon_electricity         5129
biofuel_electricity            5129
low_carbon_consumption         5129
hydro_electricity              5129
hydro_consumption              5129
gas_production                 5129
gas_electricity                5129
gas_consumption                5129
fossil_electricity             5129
fossil_fuel_consumption        5129
coal_production                5129
coal_electricity               5129
coal_consumption               5129
wind_electricity               5129
Name: count, dtype: int64

In [38]:
melteddf1[['Type','Metric']]=melteddf1['EnergyVariable'].str.extract(r'(.+?)_(consumption|electricity|production)')
melteddf1.head()

  iso_code  year       EnergyVariable  Value     Type       Metric
0      AFG  2001  biofuel_consumption    0.0  biofuel  consumption
1      AFG  2002  biofuel_consumption    0.0  biofuel  consumption
2      AFG  2003  biofuel_consumption    0.0  biofuel  consumption
3      AFG  2004  biofuel_consumption    0.0  biofuel  consumption
4      AFG  2005  biofuel_consumption    0.0  biofuel  consumption

In [39]:
melteddf1['Metric'].value_counts()

Metric
consumption    61548
electricity    61548
production     15387
Name: count, dtype: int64

In [40]:
melteddf1['Type'].value_counts()

Type
coal               15387
gas                15387
oil                15387
biofuel            10258
hydro              10258
low_carbon         10258
nuclear            10258
other_renewable    10258
renewables         10258
solar              10258
wind               10258
fossil_fuel         5129
fossil              5129
Name: count, dtype: int64

In [41]:
FactEnergy=melteddf1.pivot(index=['iso_code','year','Type'],columns='Metric',values='Value').reset_index()
FactEnergy.head()

Metric iso_code  year         Type  consumption  electricity  production
0           ABW  2001      biofuel          0.0         0.00         NaN
1           ABW  2001         coal          0.0         0.00         0.0
2           ABW  2001       fossil          NaN         0.81         NaN
3           ABW  2001  fossil_fuel          0.0          NaN         NaN
4           ABW  2001          gas          0.0         0.00         0.0

In [42]:
FactEnergy.shape

(66677, 6)

In [45]:
DimType=FactEnergy['Type'].drop_duplicates().reset_index(drop=True)
DimType.head()

0        biofuel
1           coal
2         fossil
3    fossil_fuel
4            gas
Name: Type, dtype: object

In [46]:
columns=['iso_code','year','population','gdp','electricity_demand','electricity_generation','net_elec_imports','primary_energy_consumption','greenhouse_gas_emissions']
FactCountry=df[columns].reset_index(drop=True)
FactCountry.head()

,iso_code,year,population,gdp,electricity_demand,electricity_generation,net_elec_imports,primary_energy_consumption,greenhouse_gas_emissions
0,AFG,2001,20284303.0,1.102127e+10,0.78,0.69,0.09,3.649,0.15
1,AFG,2002,21378123.0,1.880487e+10,0.81,0.71,0.10,3.328,0.12
2,AFG,2003,22733053.0,2.107434e+10,1.01,0.91,0.10,3.968,0.22
3,AFG,2004,23560656.0,2.233257e+10,0.89,0.79,0.10,3.717,0.18
4,AFG,2005,24404575.0,2.539769e+10,0.92,0.82,0.10,5.014,0.18

In [47]:
FactCountry.shape

(5129, 9)

In [49]:
FactCountry.to_csv("../DataWarehouse/FactCountry.csv")
FactEnergy.to_csv("../DataWarehouse/FactEnergy.csv")
DimCountry.to_csv("../DataWarehouse/DimCountry.csv")
DimYear.to_csv("../DataWarehouse/DimYear.csv")
DimType.to_csv("../DataWarehouse/DimType.csv")