In [1]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("Raw/RawEnergyData.csv",index_col=0)
df.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN

In [3]:
df.shape

(21812, 130)

In [4]:
df.columns

Index(['country', 'year', 'iso_code', 'population', 'gdp',
       'biofuel_cons_change_pct', 'biofuel_cons_change_twh',
       'biofuel_cons_per_capita', 'biofuel_consumption',
       'biofuel_elec_per_capita',
       ...
       'solar_share_elec', 'solar_share_energy', 'wind_cons_change_pct',
       'wind_cons_change_twh', 'wind_consumption', 'wind_elec_per_capita',
       'wind_electricity', 'wind_energy_per_capita', 'wind_share_elec',
       'wind_share_energy'],
      dtype='object', length=130)

In [5]:
df.isna().sum()

country                       0
year                          0
iso_code                   5000
population                 3365
gdp                       10037
                          ...
wind_elec_per_capita      14534
wind_electricity          13578
wind_energy_per_capita    17659
wind_share_elec           14615
wind_share_energy         17619
Length: 130, dtype: int64

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df.dropna(subset=['iso_code'],inplace=True)

In [8]:
df.shape

(16812, 130)

In [9]:
DimCountry=df[['iso_code','country']].drop_duplicates().reset_index(drop=True)
DimCountry.set_index('iso_code',inplace=True)
DimCountry.head()

                 country
iso_code
AFG          Afghanistan
ALB              Albania
DZA              Algeria
ASM       American Samoa
AGO               Angola

In [10]:
DimCountry.shape

(220, 1)

In [11]:
DimYear=df['year'].drop_duplicates().reset_index(drop=True)
DimYear

0      1900
1      1901
2      1902
3      1903
4      1904
       ...
119    2019
120    2020
121    2021
122    2022
123    2023
Name: year, Length: 124, dtype: int64

In [12]:
columns=['iso_code','year','biofuel_consumption','biofuel_electricity','coal_consumption','coal_electricity','coal_production','fossil_fuel_consumption','fossil_electricity','gas_consumption','gas_electricity','gas_production','hydro_consumption','hydro_electricity','low_carbon_consumption','low_carbon_electricity','nuclear_consumption','nuclear_electricity','oil_consumption','oil_electricity','oil_production','other_renewable_consumption','other_renewable_electricity','renewables_consumption','renewables_electricity','solar_consumption','solar_electricity','wind_consumption','wind_electricity']
df1=df[columns]
df1.head()

,iso_code,year,biofuel_consumption,biofuel_electricity,coal_consumption,coal_electricity,coal_production,fossil_fuel_consumption,fossil_electricity,gas_consumption,...,oil_electricity,oil_production,other_renewable_consumption,other_renewable_electricity,renewables_consumption,renewables_electricity,solar_consumption,solar_electricity,wind_consumption,wind_electricity
24,AFG,1900,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,AFG,1901,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,AFG,1902,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,AFG,1903,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,AFG,1904,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df1.shape

(16812, 29)

In [14]:
df1.isna().sum()

iso_code                           0
year                               0
biofuel_consumption            14986
biofuel_electricity            11543
coal_consumption               12729
coal_electricity               11184
coal_production                 3816
fossil_fuel_consumption        13183
fossil_electricity             11135
gas_consumption                12928
gas_electricity                11250
gas_production                  3631
hydro_consumption              12673
hydro_electricity               9477
low_carbon_consumption         12673
low_carbon_electricity         10278
nuclear_consumption            11191
nuclear_electricity             8761
oil_consumption                12434
oil_electricity                11140
oil_production                  3153
other_renewable_consumption    13075
other_renewable_electricity    10030
renewables_consumption         12673
renewables_electricity         10278
solar_consumption              13346
solar_electricity              10229
wind_consumption               13288
wind_electricity               10200
dtype: int64

In [15]:
melteddf1=df1.melt(id_vars=['iso_code','year'],var_name='EnergyVariable',value_name='Value')
melteddf1.head()

  iso_code  year       EnergyVariable  Value
0      AFG  1900  biofuel_consumption    NaN
1      AFG  1901  biofuel_consumption    NaN
2      AFG  1902  biofuel_consumption    NaN
3      AFG  1903  biofuel_consumption    NaN
4      AFG  1904  biofuel_consumption    NaN

In [16]:
melteddf1['EnergyVariable'].value_counts()

EnergyVariable
biofuel_consumption            16812
biofuel_electricity            16812
coal_consumption               16812
coal_electricity               16812
coal_production                16812
fossil_fuel_consumption        16812
fossil_electricity             16812
gas_consumption                16812
gas_electricity                16812
gas_production                 16812
hydro_consumption              16812
hydro_electricity              16812
low_carbon_consumption         16812
low_carbon_electricity         16812
nuclear_consumption            16812
nuclear_electricity            16812
oil_consumption                16812
oil_electricity                16812
oil_production                 16812
other_renewable_consumption    16812
other_renewable_electricity    16812
renewables_consumption         16812
renewables_electricity         16812
solar_consumption              16812
solar_electricity              16812
wind_consumption               16812
wind_electricity               16812
Name: count, dtype: int64

In [17]:
melteddf1[['Type','Metric']]=melteddf1['EnergyVariable'].str.extract(r'(.+?)_(consumption|electricity|production)')
melteddf1.head()

  iso_code  year       EnergyVariable  Value     Type       Metric
0      AFG  1900  biofuel_consumption    NaN  biofuel  consumption
1      AFG  1901  biofuel_consumption    NaN  biofuel  consumption
2      AFG  1902  biofuel_consumption    NaN  biofuel  consumption
3      AFG  1903  biofuel_consumption    NaN  biofuel  consumption
4      AFG  1904  biofuel_consumption    NaN  biofuel  consumption

In [18]:
melteddf1['Metric'].value_counts()

Metric
consumption    201744
electricity    201744
production      50436
Name: count, dtype: int64

In [19]:
melteddf1['Type'].value_counts()

Type
coal               50436
gas                50436
oil                50436
hydro              33624
biofuel            33624
other_renewable    33624
renewables         33624
low_carbon         33624
nuclear            33624
solar              33624
wind               33624
fossil             16812
fossil_fuel        16812
Name: count, dtype: int64

In [20]:
FactEnergy=melteddf1.pivot(index=['iso_code','year','Type'],columns='Metric',values='Value').reset_index()
FactEnergy.head()

Metric iso_code  year         Type  consumption  electricity  production
0           ABW  1986      biofuel          NaN          NaN         NaN
1           ABW  1986         coal          NaN          NaN         0.0
2           ABW  1986       fossil          NaN          NaN         NaN
3           ABW  1986  fossil_fuel          NaN          NaN         NaN
4           ABW  1986          gas          NaN          NaN         0.0

In [21]:
FactEnergy.shape

(218556, 6)

In [22]:
DimType=FactEnergy['Type'].drop_duplicates().reset_index(drop=True)
DimType.head()

0        biofuel
1           coal
2         fossil
3    fossil_fuel
4            gas
Name: Type, dtype: object

In [23]:
columns=['iso_code','year','population','gdp','electricity_demand','electricity_generation','net_elec_imports','primary_energy_consumption']
FactCountry=df[columns].reset_index(drop=True)
FactCountry.head()

,iso_code,year,population,gdp,electricity_demand,electricity_generation,net_elec_imports,primary_energy_consumption
0,AFG,1900,4707744.0,NaN,NaN,NaN,NaN,NaN
1,AFG,1901,4751177.0,NaN,NaN,NaN,NaN,NaN
2,AFG,1902,4802500.0,NaN,NaN,NaN,NaN,NaN
3,AFG,1903,4861833.0,NaN,NaN,NaN,NaN,NaN
4,AFG,1904,4921891.0,NaN,NaN,NaN,NaN,NaN

In [24]:
FactCountry.to_csv("DataWarehouse/FactCountry.csv")
FactEnergy.to_csv("DataWarehouse/FactEnergy.csv")
DimCountry.to_csv("DataWarehouse/DimCountry.csv")
DimYear.to_csv("DataWarehouse/DimYear.csv")
DimType.to_csv("DataWarehouse/DimType.csv")