In [1]:
import pandas as pd
import numpy as np

# FactEnergy

In [3]:
df=pd.read_csv("DataWarehouse/FactEnergy.csv")
df.head()

   Unnamed: 0 IsoCode  Year         Type  Consumption  Electricity  Production
0           0     ABW  1986      biofuel          0.0          0.0         0.0
1           1     ABW  1986         coal          0.0          0.0         0.0
2           2     ABW  1986       fossil          0.0          0.0         0.0
3           3     ABW  1986  fossil_fuel          0.0          0.0         0.0
4           4     ABW  1986          gas          0.0          0.0         0.0

In [6]:
df.shape

(39182, 7)

In [5]:
df=df[df['IsoCode'].isin(['USA','CHN','JPN','DEU','IND','GBR','FRA','ITA','CAN','BRA','RUS','KOR','AUS','ESP','MEX','IDN','NLD','SAU','TUR','CHE','TWN','POL','SWE','BEL','THA'])]

In [7]:
df.isna().sum()

Unnamed: 0     0
IsoCode        0
Year           0
Type           0
Consumption    0
Electricity    0
Production     0
dtype: int64

In [10]:
df.fillna(0,inplace=True)

In [8]:
df.to_csv("DataWarehouse/FactEnergy.csv")

# FactCountry

In [3]:
df1=pd.read_csv("DataWarehouse/FactCountry.csv",index_col=0)
df1.head()

,Year,Population,GDP,ElectricityDemand,ElectricityProduction,ElectricityImport,EnergyConsumption
IsoCode,,,,,,,
AFG,1980,12486640.0,1.532984e+10,0.0,0.0,0.0,7.791
AFG,1981,11155196.0,1.564534e+10,0.0,0.0,0.0,8.777
AFG,1982,10088290.0,1.598041e+10,0.0,0.0,0.0,9.348
AFG,1983,9951447.0,1.675533e+10,0.0,0.0,0.0,11.436
AFG,1984,10243689.0,1.707215e+10,0.0,0.0,0.0,11.489

In [14]:
df1=df1[df1.index.isin(['USA','CHN','JPN','DEU','IND','GBR','FRA','ITA','CAN','BRA','RUS','KOR','AUS','ESP','MEX','IDN','NLD','SAU','TUR','CHE','TWN','POL','SWE','BEL','THA'])]

In [15]:
df1.shape

(1094, 7)

In [16]:
df1.isna().sum()

Year                     0
Population               0
GDP                      0
ElectricityDemand        0
ElectricityProduction    0
ElectricityImport        0
EnergyConsumption        0
dtype: int64

In [18]:
df1[['ElectricityDemand','ElectricityProduction','ElectricityImport','EnergyConsumption']]=df1[['ElectricityDemand','ElectricityProduction','ElectricityImport','EnergyConsumption']].fillna(0)

C:\Users\ayman\AppData\Local\Temp\ipykernel_15496\3401171986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[['ElectricityDemand','ElectricityProduction','ElectricityImport','EnergyConsumption']]=df1[['ElectricityDemand','ElectricityProduction','ElectricityImport','EnergyConsumption']].fillna(0)

In [19]:
df1['Population'].fillna(method='ffill',inplace=True)

C:\Users\ayman\AppData\Local\Temp\ipykernel_15496\3416141537.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Population'].fillna(method='ffill',inplace=True)
C:\Users\ayman\AppData\Local\Temp\ipykernel_15496\3416141537.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1['Population'].fillna(method='ffill',inplace=True)
C:\Users\ayman\AppData\Local\Temp\ipykernel_15496\3416141537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Population'].fillna(method='ffill',inplace=True)

In [20]:
df1['GDP'].fillna(method='ffill',inplace=True)

C:\Users\ayman\AppData\Local\Temp\ipykernel_15496\2926923070.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['GDP'].fillna(method='ffill',inplace=True)
C:\Users\ayman\AppData\Local\Temp\ipykernel_15496\2926923070.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1['GDP'].fillna(method='ffill',inplace=True)
C:\Users\ayman\AppData\Local\Temp\ipykernel_15496\2926923070.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['GDP'].fillna(method='ffill',inplace=True)

In [17]:
df1.to_csv("DataWarehouse/FactCountry.csv")

# DimCountry

In [2]:
df=pd.read_csv("DataWarehouse/DimCountry.csv",index_col=0)
df.head()

                Country              Region Continent DevelopmentStatus
IsoCode
AFG         Afghanistan          South Asia      Asia   Least Developed
ALB             Albania              Europe    Europe        Developing
DZA             Algeria        North Africa    Africa        Developing
ASM      American Samoa                 NaN       NaN        Developing
AGO              Angola  Sub-Saharan Africa    Africa   Least Developed

In [4]:
df=df[df.index.isin(['USA','CHN','JPN','DEU','IND','GBR','FRA','ITA','CAN','BRA','RUS','KOR','AUS','ESP','MEX','IDN','NLD','SAU','TUR','CHE','TWN','POL','SWE','BEL','THA'])]

In [5]:
df.shape

(25, 4)

In [25]:
country_to_region_continent = {
    'Afghanistan': ('South Asia', 'Asia'),
    'Albania': ('Europe', 'Europe'),
    'Algeria': ('North Africa', 'Africa'),
    'Andorra': ('Europe', 'Europe'),
    'Angola': ('Sub-Saharan Africa', 'Africa'),
    'Antigua and Barbuda': ('Latin America & Caribbean', 'North America'),
    'Argentina': ('Latin America & Caribbean', 'South America'),
    'Armenia': ('Central Asia', 'Asia'),
    'Australia': ('Oceania', 'Oceania'),
    'Austria': ('Europe', 'Europe'),
    'Azerbaijan': ('Central Asia', 'Asia'),
    'Bahamas': ('Latin America & Caribbean', 'North America'),
    'Bahrain': ('Middle East', 'Asia'),
    'Bangladesh': ('South Asia', 'Asia'),
    'Barbados': ('Latin America & Caribbean', 'North America'),
    'Belarus': ('Europe', 'Europe'),
    'Belgium': ('Europe', 'Europe'),
    'Belize': ('Latin America & Caribbean', 'North America'),
    'Benin': ('Sub-Saharan Africa', 'Africa'),
    'Bhutan': ('South Asia', 'Asia'),
    'Bolivia': ('Latin America & Caribbean', 'South America'),
    'Bosnia and Herzegovina': ('Europe', 'Europe'),
    'Botswana': ('Sub-Saharan Africa', 'Africa'),
    'Brazil': ('Latin America & Caribbean', 'South America'),
    'Brunei': ('Southeast Asia', 'Asia'),
    'Bulgaria': ('Europe', 'Europe'),
    'Burkina Faso': ('Sub-Saharan Africa', 'Africa'),
    'Burundi': ('Sub-Saharan Africa', 'Africa'),
    'Cabo Verde': ('Sub-Saharan Africa', 'Africa'),
    'Cambodia': ('Southeast Asia', 'Asia'),
    'Cameroon': ('Sub-Saharan Africa', 'Africa'),
    'Canada': ('North America', 'North America'),
    'Central African Republic': ('Sub-Saharan Africa', 'Africa'),
    'Chad': ('Sub-Saharan Africa', 'Africa'),
    'Chile': ('Latin America & Caribbean', 'South America'),
    'China': ('East Asia', 'Asia'),
    'Colombia': ('Latin America & Caribbean', 'South America'),
    'Comoros': ('Sub-Saharan Africa', 'Africa'),
    'Congo, Democratic Republic of the': ('Sub-Saharan Africa', 'Africa'),
    'Congo, Republic of the': ('Sub-Saharan Africa', 'Africa'),
    'Costa Rica': ('Latin America & Caribbean', 'North America'),
    'Croatia': ('Europe', 'Europe'),
    'Cuba': ('Latin America & Caribbean', 'North America'),
    'Cyprus': ('Europe', 'Europe'),
    'Czechia': ('Europe', 'Europe'),
    'Denmark': ('Europe', 'Europe'),
    'Djibouti': ('Sub-Saharan Africa', 'Africa'),
    'Dominica': ('Latin America & Caribbean', 'North America'),
    'Dominican Republic': ('Latin America & Caribbean', 'North America'),
    'Ecuador': ('Latin America & Caribbean', 'South America'),
    'Egypt': ('North Africa', 'Africa'),
    'El Salvador': ('Latin America & Caribbean', 'North America'),
    'Equatorial Guinea': ('Sub-Saharan Africa', 'Africa'),
    'Eritrea': ('Sub-Saharan Africa', 'Africa'),
    'Estonia': ('Europe', 'Europe'),
    'Eswatini': ('Sub-Saharan Africa', 'Africa'),
    'Ethiopia': ('Sub-Saharan Africa', 'Africa'),
    'Fiji': ('Oceania', 'Oceania'),
    'Finland': ('Europe', 'Europe'),
    'France': ('Europe', 'Europe'),
    'Gabon': ('Sub-Saharan Africa', 'Africa'),
    'Gambia': ('Sub-Saharan Africa', 'Africa'),
    'Georgia': ('Central Asia', 'Asia'),
    'Germany': ('Europe', 'Europe'),
    'Ghana': ('Sub-Saharan Africa', 'Africa'),
    'Greece': ('Europe', 'Europe'),
    'Grenada': ('Latin America & Caribbean', 'North America'),
    'Guatemala': ('Latin America & Caribbean', 'North America'),
    'Guinea': ('Sub-Saharan Africa', 'Africa'),
    'Guinea-Bissau': ('Sub-Saharan Africa', 'Africa'),
    'Guyana': ('Latin America & Caribbean', 'South America'),
    'Haiti': ('Latin America & Caribbean', 'North America'),
    'Honduras': ('Latin America & Caribbean', 'North America'),
    'Hungary': ('Europe', 'Europe'),
    'Iceland': ('Europe', 'Europe'),
    'India': ('South Asia', 'Asia'),
    'Indonesia': ('Southeast Asia', 'Asia'),
    'Iran': ('Middle East', 'Asia'),
    'Iraq': ('Middle East', 'Asia'),
    'Ireland': ('Europe', 'Europe'),
    'Israel': ('Middle East', 'Asia'),
    'Italy': ('Europe', 'Europe'),
    'Jamaica': ('Latin America & Caribbean', 'North America'),
    'Japan': ('East Asia', 'Asia'),
    'Jordan': ('Middle East', 'Asia'),
    'Kazakhstan': ('Central Asia', 'Asia'),
    'Kenya': ('Sub-Saharan Africa', 'Africa'),
    'Kiribati': ('Oceania', 'Oceania'),
    'Kuwait': ('Middle East', 'Asia'),
    'Kyrgyzstan': ('Central Asia', 'Asia'),
    'Laos': ('Southeast Asia', 'Asia'),
    'Latvia': ('Europe', 'Europe'),
    'Lebanon': ('Middle East', 'Asia'),
    'Lesotho': ('Sub-Saharan Africa', 'Africa'),
    'Liberia': ('Sub-Saharan Africa', 'Africa'),
    'Libya': ('North Africa', 'Africa'),
    'Liechtenstein': ('Europe', 'Europe'),
    'Lithuania': ('Europe', 'Europe'),
    'Luxembourg': ('Europe', 'Europe'),
    'Madagascar': ('Sub-Saharan Africa', 'Africa'),
    'Malawi': ('Sub-Saharan Africa', 'Africa'),
    'Malaysia': ('Southeast Asia', 'Asia'),
    'Maldives': ('South Asia', 'Asia'),
    'Mali': ('Sub-Saharan Africa', 'Africa'),
    'Malta': ('Europe', 'Europe'),
    'Marshall Islands': ('Oceania', 'Oceania'),
    'Mauritania': ('Sub-Saharan Africa', 'Africa'),
    'Mauritius': ('Sub-Saharan Africa', 'Africa'),
    'Mexico': ('North America', 'North America'),
    'Micronesia': ('Oceania', 'Oceania'),
    'Moldova': ('Europe', 'Europe'),
    'Monaco': ('Europe', 'Europe'),
    'Mongolia': ('East Asia', 'Asia'),
    'Montenegro': ('Europe', 'Europe'),
    'Morocco': ('North Africa', 'Africa'),
    'Mozambique': ('Sub-Saharan Africa', 'Africa'),
    'Myanmar (Burma)': ('Southeast Asia', 'Asia'),
    'Namibia': ('Sub-Saharan Africa', 'Africa'),
    'Nauru': ('Oceania', 'Oceania'),
    'Nepal': ('South Asia', 'Asia'),
    'Netherlands': ('Europe', 'Europe'),
    'New Zealand': ('Oceania', 'Oceania'),
    'Nicaragua': ('Latin America & Caribbean', 'North America'),
    'Niger': ('Sub-Saharan Africa', 'Africa'),
    'Nigeria': ('Sub-Saharan Africa', 'Africa'),
    'North Korea': ('East Asia', 'Asia'),
    'North Macedonia': ('Europe', 'Europe'),
    'Norway': ('Europe', 'Europe'),
    'Oman': ('Middle East', 'Asia'),
    'Pakistan': ('South Asia', 'Asia'),
    'Palau': ('Oceania', 'Oceania'),
    'Palestine State': ('Middle East', 'Asia'),
    'Panama': ('Latin America & Caribbean', 'North America'),
    'Papua New Guinea': ('Oceania', 'Oceania'),
    'Paraguay': ('Latin America & Caribbean', 'South America'),
    'Peru': ('Latin America & Caribbean', 'South America'),
    'Philippines': ('Southeast Asia', 'Asia'),
    'Poland': ('Europe', 'Europe'),
    'Portugal': ('Europe', 'Europe'),
    'Qatar': ('Middle East', 'Asia'),
    'Romania': ('Europe', 'Europe'),
    'Russia': ('Europe', 'Europe'),
    'Rwanda': ('Sub-Saharan Africa', 'Africa'),
    'Saint Kitts and Nevis': ('Latin America & Caribbean', 'North America'),
    'Saint Lucia': ('Latin America & Caribbean', 'North America'),
    'Saint Vincent and the Grenadines': ('Latin America & Caribbean', 'North America'),
    'Samoa': ('Oceania', 'Oceania'),
    'San Marino': ('Europe', 'Europe'),
    'Sao Tome and Principe': ('Sub-Saharan Africa', 'Africa'),
    'Saudi Arabia': ('Middle East', 'Asia'),
    'Senegal': ('Sub-Saharan Africa', 'Africa'),
    'Serbia': ('Europe', 'Europe'),
    'Seychelles': ('Sub-Saharan Africa', 'Africa'),
    'Sierra Leone': ('Sub-Saharan Africa', 'Africa'),
    'Singapore': ('Southeast Asia', 'Asia'),
    'Slovakia': ('Europe', 'Europe'),
    'Slovenia': ('Europe', 'Europe'),
    'Solomon Islands': ('Oceania', 'Oceania'),
    'Somalia': ('Sub-Saharan Africa', 'Africa'),
    'South Africa': ('Sub-Saharan Africa', 'Africa'),
    'South Korea': ('East Asia', 'Asia'),
    'South Sudan': ('Sub-Saharan Africa', 'Africa'),
    'Spain': ('Europe', 'Europe'),
    'Sri Lanka': ('South Asia', 'Asia'),
    'Sudan': ('Sub-Saharan Africa', 'Africa'),
    'Suriname': ('Latin America & Caribbean', 'South America'),
    'Sweden': ('Europe', 'Europe'),
    'Switzerland': ('Europe', 'Europe'),
    'Syria': ('Middle East', 'Asia'),
    'Taiwan': ('East Asia', 'Asia'),
    'Tajikistan': ('Central Asia', 'Asia'),
    'Tanzania': ('Sub-Saharan Africa', 'Africa'),
    'Thailand': ('Southeast Asia', 'Asia'),
    'Timor-Leste': ('Southeast Asia', 'Asia'),
    'Togo': ('Sub-Saharan Africa', 'Africa'),
    'Tonga': ('Oceania', 'Oceania'),
    'Trinidad and Tobago': ('Latin America & Caribbean', 'North America'),
    'Tunisia': ('North Africa', 'Africa'),
    'Turkey': ('Middle East', 'Asia'),
    'Turkmenistan': ('Central Asia', 'Asia'),
    'Tuvalu': ('Oceania', 'Oceania'),
    'Uganda': ('Sub-Saharan Africa', 'Africa'),
    'Ukraine': ('Europe', 'Europe'),
    'United Arab Emirates': ('Middle East', 'Asia'),
    'United Kingdom': ('Europe', 'Europe'),
    'United States': ('North America', 'North America'),
    'Uruguay': ('Latin America & Caribbean', 'South America'),
    'Uzbekistan': ('Central Asia', 'Asia'),
    'Vanuatu': ('Oceania', 'Oceania'),
    'Vatican City': ('Europe', 'Europe'),
    'Venezuela': ('Latin America & Caribbean', 'South America'),
    'Vietnam': ('Southeast Asia', 'Asia'),
    'Yemen': ('Middle East', 'Asia'),
    'Zambia': ('Sub-Saharan Africa', 'Africa'),
    'Zimbabwe': ('Sub-Saharan Africa', 'Africa')
}


df[['Region', 'Continent']] = df['Country'].apply(
     lambda x: pd.Series(country_to_region_continent.get(x, (None, None))))

In [26]:
def get_development_status(country):
    developed_countries = [
        'United States', 'Canada', 'United Kingdom', 'Germany', 'France', 'Italy', 
        'Japan', 'Australia', 'New Zealand', 'Austria', 'Belgium', 'Denmark', 
        'Finland', 'Ireland', 'Luxembourg', 'Netherlands', 'Norway', 'Sweden', 
        'Switzerland', 'Iceland', 'Spain', 'Portugal', 'Greece', 'South Korea', 
        'Singapore', 'Israel', 'Slovenia', 'Czechia', 'Estonia', 'Slovakia', 
        'Lithuania', 'Latvia', 'Hungary', 'Poland', 'Croatia', 'Malta', 'Cyprus'
    ]
    
    least_developed_countries = [
        'Afghanistan', 'Angola', 'Bangladesh', 'Benin', 'Bhutan', 'Burkina Faso', 
        'Burundi', 'Cambodia', 'Central African Republic', 'Chad', 'Comoros', 
        'Congo, Democratic Republic of the', 'Djibouti', 'Eritrea', 'Ethiopia', 
        'Gambia', 'Guinea', 'Guinea-Bissau', 'Haiti', 'Kiribati', 'Laos', 'Lesotho', 
        'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mozambique', 
        'Myanmar (Burma)', 'Nepal', 'Niger', 'Rwanda', 'Sao Tome and Principe', 
        'Senegal', 'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Sudan', 
        'Sudan', 'Tanzania', 'Timor-Leste', 'Togo', 'Tuvalu', 'Uganda', 'Vanuatu', 
        'Yemen', 'Zambia'
    ]
    
    if country in developed_countries:
        return 'Developed'
    elif country in least_developed_countries:
        return 'Least Developed'
    else:
        return 'Developing'  # Countries not in either list are classified as developing

# Apply the function to create a new column
df['DevelopmentStatus'] = df['Country'].apply(get_development_status)

In [27]:
df.head()

                Country              Region Continent DevelopmentStatus
IsoCode
AFG         Afghanistan          South Asia      Asia   Least Developed
ALB             Albania              Europe    Europe        Developing
DZA             Algeria        North Africa    Africa        Developing
ASM      American Samoa                None      None        Developing
AGO              Angola  Sub-Saharan Africa    Africa   Least Developed

In [6]:
df.to_csv("DataWarehouse/DimCountry.csv")

# DimType

In [29]:
df=pd.read_csv("DataWarehouse/DimType.csv")
df.head()

          Type
0      biofuel
1         coal
2       fossil
3  fossil_fuel
4          gas

In [30]:
energy_source_to_type = {
    'biofuel': ('Renewable', 'Renewable'),
    'coal': ('Non-Renewable', 'Fossil Fuel'),
    'fossil': ('Non-Renewable', 'Fossil Fuel'),
    'fossil_fuel': ('Non-Renewable', 'Fossil Fuel'),
    'gas': ('Non-Renewable', 'Fossil Fuel'),
    'hydro': ('Renewable', 'Hydroelectric'),
    'low_carbon': ('Non-Renewable', 'Low-Carbon'),
    'nuclear': ('Non-Renewable', 'Nuclear'),
    'oil': ('Non-Renewable', 'Fossil Fuel'),
    'other_renewable': ('Renewable', 'Other Renewable'),
    'renewables': ('Renewable', 'Renewable Energy'),
    'solar': ('Renewable', 'Solar'),
    'wind': ('Renewable', 'Wind')
}


df[['AltCategory', 'Category']] = df['Type'].apply(
     lambda x: pd.Series(energy_source_to_type.get(x, (None, None))))

In [31]:
df.head()

          Type    AltCategory     Category
0      biofuel      Renewable    Renewable
1         coal  Non-Renewable  Fossil Fuel
2       fossil  Non-Renewable  Fossil Fuel
3  fossil_fuel  Non-Renewable  Fossil Fuel
4          gas  Non-Renewable  Fossil Fuel

In [32]:
df.to_csv("DataWarehouse/DimType.csv")